@using (Ajax.BeginForm("SearchCover", "CoverManagment", new AjaxOptions { UpdateTargetId = "coverDeleteSection", OnComplete = "setCoverVideoHeight()" }))
{
    if (ViewData["succesMessage"] != null)
    {
        <span class="alert-success">@ViewData["succesMessage"]</span>
        <br />
    }
    <div class="col-md-12">
        <label class="col-md-12">Search cover by name:  </label>
        <span class="col-xs-9 col-md-9">@Html.TextBox("searchTerm", null, new { id = "txtSearch", @class = "loginInput ", autocomplete = "off" })</span>
        <input type="submit" value="Search" class="col-cs-2 col-md-2 submitBtn floatRight" style="padding:0 10px;" />
    </div>
}
<div id="coverDeleteSection" style="overflow-y:auto;" class="col-xs-12 col-md-12">

</div>






