@model CoverNation.ViewModel.PlaylistViewModel.PlaylistViewModelPlayIndex


    <iframe src="@Model.VideoUrl" id="playListVideoPlay"></iframe>
    <div class="videoSocialSection">
        <i class="fa fa-thumbs-up" aria-hidden="true" id="likeBtn"></i>
        <span id="numberOfLikes">@Model.numberOfLikes</span>
    </div><!-- end of videoSocialSection -->